body {
    font-family: 'Brush Script MT', cursive;
	color: green;
    letter-spacing: 1px;
	background: url("moss2.jpg");
	background-size: 100%;
	background-position:top;
	background-repeat: vertical-align;
}